<!DOCTYPE html>
<html lang="en">

<head>
    {{template "components/head"}}
    <link rel="stylesheet" href="/static/css/gem.css" type="text/css" media="all" />
</head>

<body>
    {{template "components/nav"}}
    <section class="blog" id="blog">
        <div class="blog-card back-shadow">
            <h1 id="{{.Template.Title}}">{{.Template.Title}}</h1>
            <div class="blog-split">
                {{template "components/gmi_dir_details" .}}
                <div class="blog-content">
                    {{template "components/gmi_dir_iter" .}}
                </div>
            </div>
        </div>
    </section>
    {{template "components/footer" .Footer}}
</body>
