{{- range .Template.Lines}}
{{- if eq .Type 0}}{{ $length := len .Text }}
{{- if ne $length 0 }}
<p>{{.Text}}</p>
{{- end}}
{{- else if eq .Type 1}}
{{- if .IsImage }}
<p class="blog-img"><img src="{{.Arg}}" alt="{{.Text}}" />
</p>
{{- else}}
<a class="link" href="{{.Arg}}">{{.Text}}</a>
{{- end}}
{{- else if eq .Type 2}}
<li>{{.Text}}</li>
{{- else if eq .Type 3}}
<div class="blog-q">
    <p>{{.Text}}</p>
</div>
{{- else if eq .Type 4}}
<h3 id="{{.Text}}">### {{.Text}}</h3>
{{- else if eq .Type 5}}
<h2 id="{{.Text}}">## {{.Text}}</h2>
{{- else if eq .Type 6}}
<h1 id="{{.Text}}"># {{.Text}}</h1>
{{- else if eq .Type 7}}{{$length := len .Text }}
{{- if eq .PreNum 0}}
<pre id="{{.Index}}" class="helper-{{.Arg}}">
    {{- else if and (eq .PreNum 1) (ne $length 0)}}
    {{.Text}}
    {{- else}}</pre>
{{- end}}{{end}}{{end}}
