<div class="toc">
    <a href="./">Back</a>
    <details>
        <summary>Table of Contents</summary>
        <div class="toc-content">
            <a href="#"> {{.Template.Title}}
            </a>
            {{range .Template.Lines}}
            {{if eq .Type 4}}
            <li class="toc-i3"><a href="#{{.Text}}">{{.Text}}</a>
                {{else if eq .Type 5}}
            <li class="toc-i2"><a href="#{{.Text}}">{{.Text}}</a>
                {{else if eq .Type 6}}
            <li class="toc-i1">
                <a href="#{{.Text}}">{{.Text}}</a>
                {{end}}
            </li>
            {{end}}
            <div>
    </details>
</div>
