<meta charset="UTF-8" />
<meta name="title" content="Umut Sevdi's Personal Web Page">
<meta name="description"
    content="This is Umut Sevdi's website. I am a Computer Engineering student at Yıldız Technical University. I like back-end development, computer networks, computer graphics and Linux.">
<meta name="keywords"
    content="Umut, Sevdi, umutsevdi, Umut Can Sevdi, Umutcan Sevdi, sevdiumut, software engineer, software, engineer, developer, back-end, personal, page, nextcloud, jellyfin, overseer, c, java, cpp, c++, go, golang, git, docker, bash, linux, oop, Yapi Kredi, egaranti, dsc, gdsc, google developer, sky lab">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="Umut Sevdi">
<meta property="og:image" content="/static/img/banner.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Umut Sevdi's Personal Page</title>
<link rel="shortcut icon" href="/static/img/favicon.jpg" type="image/x-icon" />
<link rel="icon" type="image/x-icon" href="/static/img/favicon.jpg">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
<a rel="me" href="https://mastodon.social/@chinstrap">Mastodon</a>
