<header>
    <div class="header-left">
        <a href="/#">
            <img class="back-shadow" src="/static/img/favicon.jpg" />
            <p>Home</p>
        </a>
    </div>
    <div class="header-right">
        <nav class="nav">
            <ul class="back-shadow">
                <li class="nav-item"> <a href="/#about">About</a> </li>
                <li class="nav-item"> <a href="/#projects"> Projects</a> </li>
                <li class="nav-item"> <a href="/blog/"> Blog</a> </li>
                <li class="nav-item dropdown"> <a>Services</a>
                    <ul class="back-shadow nav-sublist"> <a href="https://nc.umutsevdi.com">
                            <li class="sublist-item">Nextcloud</li>
                        </a> <a href="https://watch.umutsevdi.com">
                            <li class="sublist-item">Jellyfin</li>
                        </a> <a href="https://suggest.umutsevdi.com">
                            <li class="sublist-item">Overseer</li>
                        </a> </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="nav-toggle back-shadow">
        <div class="hamburger"></div>
    </div>
</header>
