.blog {
  min-height: 95vh;
  height: 100%;
  background-image: url(/static/img/landing-page.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.blog-split {
  display: flex;
  justify-content: space-between;
}

.toc {
   min-width: 10rem;
   position: sticky;
   top: 10vch;
   min-height: 90vh;
   overflow-y: auto;
   justify-items: center;
}

.toc > details > summary {
  border-bottom: 0.2rem solid var(--fg-semi);
  transition: 0.3s;
  font-weight: bold;
}

.toc > details:hover > summary {
  color: var(--primary);
  border-bottom: 0.2rem solid var(--primary);
  transition: 0.3s;
}

.toc > a {
  text-align: center;
  display: block;
  background-color: var(--bg-dark);
  color: var(--fg);
  border-radius: 2rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.toc > a:hover {
  background-color: var(--primary);
  color: var(--bg-dark);
  transition: 0.3s;
}

.toc-content {
  border-right: 0.2rem solid var(--fg-semi);
  overflow: visible;
  transition: 0.3s;
}
.toc > details:hover > .toc-content {
  border-right: 0.2rem solid var(--primary);
  transition: 0.3s;
}

.toc-content > li:before {
 content: "► ";
}
.toc-content > li {
   list-style: none;
}

.toc-content > a,
.toc-content > li > a {
   transition: 0.3s;
    color: var(--fg);
}

.toc-content > a:hover,
.toc-content > li > a:hover {
   transition: 0.3s;
   color: var(--primary);

}

.toc-i1 {
  margin-left: 0rem;
}
.toc-i2 {
  margin-left: 0.5rem;
}
.toc-i3 {
  margin-left: 1.5rem;
}

.blog-card {
  padding: 1rem 2rem;
  margin: 2rem 20%;
  background-color:  var(--bg);
  border-radius: 1rem;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .blog-card {
    margin: 0 5rem;
    margin-top: 4rem;
    max-width: 90%;
    background-color: var(--bg);
    border-radius: 1rem;
  }
  .toc {
     width:  100%;
     position: unset;
     top: unset;
     min-height: unset;
     align-items: center;
  }
  .toc > a {
      width: 50%;
  }
  .blog-split {
    display:block;
    justify-content: space-between;
  }
}


.blog-card > h1 {
  font-size: 3rem;
  border-bottom-width: 0.2rem;
  border-bottom-color: var(--fg);
  border-bottom-style: solid;
  text-align: left;
  font-family: 'IBMPlexMono',monospace;
  font-weight: bolder;
  text-indent: 2rem;
}

.blog-head {
  width: 100%;
  text-align: right;
}


.blog-content {
  margin: 0 1rem;
  align-items: center;
  text-align: left;
  justify-content:space-evenly;
}

.blog-content > p {
  padding-bottom: 1rem;
  text-indent: 1rem;
}

.blog-q {
  border-left: 0.3rem solid var(--fg);
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.blog-q > p {
  font-family: 'IBMPlexMono',monospace;
  font-size: 0.9rem;
  font-style: italic;
  margin-left: 1rem;
  text-indent: 2rem;
}

.blog-content > h1,
.blog-content > h2,
.blog-content > h3 {
  font-family: 'IBMPlexMono',monospace;
  font-weight: bolder;
  text-indent: 0rem;
  margin-bottom: 1.5rem;
}


.blog-content > h1 {
  font-size: 2.3rem;
}
.blog-content > h2 {
  font-size: 1.7rem;
}
.blog-content > h3 {
  font-size: 1.4rem;
}

.blog-content > li {
  list-style: disc;
}

.blog-img {
  text-align: center;
  margin: 1rem;
}

.blog-img > img {
  display: inline;
  max-width: 50%;
  border-radius: 2rem;
  border: 0.3rem solid var(--fg);
}


.blog-content > a {
  display: flex;
}

.blog-content > pre {
  background-color: var(--bg-dark);
  border-radius: 1rem;
  border: 0.3rem solid var(--fg);
  padding: 2rem;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .blog-card > h1 {
      font-size: 2.5rem;
    }

    .blog-content > .blog-q {
      margin-left: 0.5rem;
      text-indent: 0.5rem;
    }
    .blog-content > pre {
      border-radius: 1rem;
      padding: 1.5rem;
      max-width: 100%;
    }

    .blog-img > img {
      max-width: 100%;
      border-radius: 1rem;
    }

}
