/*******************************************************************************
 *              Header Navigation
 ******************************************************************************/
header {
    position: sticky;
    top: 3vh;
    height: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    margin-left: 2rem;
    box-sizing: border-box;
    display: flex;
}

.header-left>a {
    justify-content: space-evenly;
    display: flex;
    background-color: var(--bg-dark);
    border-radius: 4rem;
    transition: 0.25s;
}

.header-left>a:hover {
    background-color: var(--primary);
    transition: 0.25s;
}

.header-left>a>p {
    color: var(--fg);
    margin: auto 1rem;
    transition: 0.25s;
}

.header-left>a>img {
    transition: 0.25s;
    border-radius: 50%;
    width: 2.5rem;
    height: auto;
}

.header-left>a:hover>p {
    color: var(--bg-dark);
    transition: 0.25s;
}

.header-left>a:hover>img {
    transform: scale(1.3);
    transition: 0.25s;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 1.0rem;
    height: 0.25rem;
    background-color: var(--fg);
    margin: 1rem 1.5rem;
    transition: 0.1s;
}

@media screen and (max-width: 600px) {
    header {
        top: 2rem;
        height: 0vh;
        width: 100%;
    }

    .header-left>a {
        background-color: transparent;
    }

    .header-left>a:hover {
        background-color: transparent;
    }


    .header-left>a>img {
        margin: auto 0rem;
        border: 0.35rem solid var(--bg-dark)
    }

    .header-left>a:hover>img {
        margin: auto 0rem;
        border: 0.35rem solid var(--primary);
    }

    .header-left>a:active>img {
        border: 0.35rem solid var(--click);
    }

    .header-left>a>p {
        display: none;
    }

    .header-right {
        width: 100%;
        justify-content: end;
        align-items: end;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        background-color: var(--bg-dark);
        position: absolute;
        width: 60%;
        top: 100%;
        right: 0;
        z-index: 1000;
    }

    .nav ul li {
        width: 100%;
        text-align: center;
    }

    .nav-sublist {
        padding-left: 0;
        width: 70%;
        text-align: center;
    }

    .nav-toggle {
        display: block;
        background-color: var(--bg-dark);
        border-radius: 4rem;
        margin: 2rem 0.5rem;
        transition: 0.15s;
    }

    .header-right {
        display: flex;
        align-items: center;
    }

    .header-right .nav {
        display: none;
        flex: 1;
        justify-content: flex-end;
    }

    .header-right .nav.active {
        display: flex;
        background-color: var(--click);
    }

    .nav-toggle:hover {
        background-color: var(--primary);
        transition: 0.15s;
    }

    .nav-toggle:active {
        background-color: var(--click);
        color: var(--bg-dark);
        transition: 0.15s;
    }

    .nav-toggle:hover>div {
        background-color: var(--bg-dark);
        transition: 0.15s;
    }

}

.nav {
    display: flex;
    max-height: 100%;
    vertical-align: middle;
    align-items: center;
    transition: 0.15s;
}

.nav>ul {
    background-color: var(--bg-dark);
    border-radius: 4rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 2rem 1rem;
}

.nav-item>a {
    transition: 0.15s;
    color: var(--fg);
    margin: 1.5rem;
    text-decoration: none;
    font-style: normal;
    position: relative;
    font-size: 1.1rem;
}

.nav-item:hover {
    background-color: var(--primary);
    border-radius: 4rem;
    transition: 0.15s;
}

.nav-item:hover>a {
    color: var(--bg);
    transition: 0.15s;
    padding: 0 2rem;
    font-style: normal;
}

.dropdown {
    position: relative;
}

.dropdown:hover>.nav-sublist {
    display: block;
}

.nav-sublist {
    display: none;
    right: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    border-radius: 1rem;
    padding: 0;
    margin: auto auto;
    background-color: var(--bg);
}

.nav-sublist>a {
    padding: 0;
}

.sublist-item {
    transition: 0.15s;
    padding: 0.2rem 1rem;
    color: var(--fg);
    background-color: var(--bg);
}

.sublist-item:hover {
    transition: 0.15s;
    padding: 0.4rem 2rem;
    background-color: var(--primary);
    color: var(--bg-dark);
}

@media screen and (max-width: 600px) {
    .nav-sublist {
        margin-top: 0;
        border-radius: 1rem;
        transition: 0.3s;
    }

    .nav>ul {
        background-color: var(--bg-dark);
        border-radius: 1rem;
        transition: 0.3s;
    }

    .nav-item>a {
        transition: 0.3s;
        color: var(--fg);
        margin: 1.5rem;
        text-decoration: none;
        font-style: normal;
        position: relative;
    }

    .nav-item:hover {
        transition: 0.3s;
        border-radius: 2rem;
    }

    .nav-item:hover>a {
        margin-left: 4rem;
        transition: 0.3s;
    }

    .sublist-item {
        transition: 0.3s;
        padding: 0.2rem 0.5rem;
    }

    .sublist-item:hover {
        transition: 0.3s;
        padding: 0.2rem 1rem;
    }

}


.header-left>a:active,
.nav-toggle:active,
.nav-toggle:active,
.sublist-item:active,
.nav-item:active {
    background-color: var(--click);
    transition: 0.15s;
}
