:root {
    --bg-none: #00000000;
    --bg: #131112;
    /* Night */
    --bg-pressed: #505050;
    /* Davy's Gray */
    --bg-dark: #333333;
    /* Jet */
    --primary: #FFCE51;
    /* Sunglow */
    --click: #FADB8B;
    /* Jasmine */
    --fg: #EBDBB2;
    /* Dutch White */
    --bg-semi: #33333366;
    /* Jet */
    --bg-pressed-semi: #50505066;
    /* Davy's Gray */
    --bg-dark-semi: #13111266;
    /* Night */
    --pri-semi: #FFCE5166;
    /* Sunglow */
    --click-semi: #FADB8B66;
    /* Jasmine */
    --fg-semi: #EBDBB266;
    /* Dutch White */
}

*::before,
*::after {
    box-sizing: border-box;
}

pre,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}


body {
    font-family: "IBMPlexMono", monospace;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--bg);
    color: var(--fg);
    height: 100%;
    margin: 0 1.5rem;
    transition: ease-in-out 0.2s;
}

article {
    background: var(--bg-dark);
    margin: 1rem 5%;
    padding: 2rem;
    transition: ease-in-out 0.2s;
    border-right: 0.5rem var(--click) solid;
}

article>h2 {
    font-size: 3rem;
    border-bottom: var(--fg) 0.3rem solid;
}

article>.datebox {
    font-size: 1.2rem;
    text-align: right;
}

article>p {
    text-indent: 3rem;
    word-wrap: normal;
}

article>h3 {
    font-size: 2rem;
}

#text-block {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    font-size: 100%;
}

#intro {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 15%;
}


#intro-left>h1 {
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    margin: 0 15%;
}

#intro-left>h2 {
    text-align: center;
}

#intro-left>p {
    text-align: right;
    font-size: 1.3rem;
    font-style: italic;
}

@media screen and (max-width: 900px) {
    #intro-left>h1 {
        margin: 0;
    }

    #intro-left>h2 {
        font-size: 1.1rem;
    }

    #text-block {
        font-size: 0.65rem;
    }
}

@media screen and (max-width: 600px) {

    #intro {
        margin: 0 10%;
        display: block;
    }

    #intro-left {
        margin: 0 0rem;
    }

    #intro-left>h1 {
        font-size: 2.5rem;
    }

    #intro-left>h2 {
        font-size: 1rem;
    }

    #text-block {
        font-size: 0.5rem;
    }

    article {
        background: var(--bg-dark);
        margin: 1rem 0rem;
        padding: 1.5rem;
        transition: ease-in-out 0.2s;
        border-right: 0.5rem var(--click) solid;
    }

    article>h2 {
        font-size: 2.5rem;
        border-bottom: var(--fg) 0.2rem solid;
    }

    article>h3 {
        font-size: 1.5rem;
    }

    article>.datebox {
        font-size: 1rem;
        text-align: right;
    }

    #intro-left>p {
        text-align: center;
        font-size: 1.3rem;
        font-style: italic;
    }


}
