<!DOCTYPE html>
<html lang="en">

<head>
    {{template "components/head"}}
</head>

<body>
    {{template "components/nav"}}

    <section class="intro" id="home">
        <div class="home">
            <div class="home-card back-shadow">
                <div class="home-img ">
                    <img class="back-shadow" src="/static/img/profile.jpg" alt="Profile picture of Umut" />
                </div>
                <div class="home-text">
                    <h1>Hi I'm <strong> Umut </strong></h1>
                    <p>Junior Software Engineer</p>
                </div>
                <div class="home-social">
                    <a target="_blank" href="https://github.com/umutsevdi" class="social-button back-shadow">
                        <img src="/static/img/icon/gh-60.png" alt="GitHub">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/umut-sevdi/" class="social-button back-shadow">
                        <img src="/static/img/icon/linkedin-60.png" alt="Linkedin">
                    </a>
                    <a target="_blank" href="mailto:mail@umutsevdi.com?subject=feedback"
                        class="social-button back-shadow">
                        <img src="/static/img/icon/email-60.png" alt="Email">
                    </a>
                </div>
                <div class="home-social home-social-last">
                    <a rel="me" target="_blank" href="https://mastodon.social/@chinstrap"
                        class="social-button back-shadow">
                        <img src="/static/img/icon/mastodon-60.png" alt="Mastodon">
                    </a>
                </div>
                <a href="/resume">
                    <div class="cv-button back-shadow">
                        <img src="/static/img/icon/resume-60.png" alt="Email">
                        <p> Resume </p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- About -->
    <section id="about" class="section about">
        <div class="about-text">
            <h1 align="center">About Me</h1>
            <p>
                Hi, I'm Umut. I'm a Computer Engineering student at
                <a class="link" target="_blank" href="https://www.yildiz.edu.tr/">Yildiz Technical University</a>. I
                live
                in Istanbul, Turkey. It's my senior year. I'm interested in back-end and system software development.
                And
                I'm currently working at
                <a class="link" target="_blank" href="https://www.yapikredi.com.tr/en/">Yapi Kredi</a>
                as a software engineer.
            </p>
            <h2>## Things I like</h2>
            <p>
                I love operating systems, computer networks and software
                development practices. I like researching, and reading articles . I'm passionate about Free and Open
                Source Software. I have built various free and open source tools. All of their source code is
                available at my
                <a class="link" target="_blank" href="https://github.com/umutsevdi">Github account</a>.
            </p>
            <p>I would love to contribute to the bigger ones.</p>
            <h2>## Work In Progress</h2>
            <p> Here are the things I'm working on.</p>
            <ul class="point-list">
                <li>A smartwatch with touchscreen from scratch using Raspberry Pi Pico in C programming language</li>
                <li> Brauzer, a graphical web browser that supports variety of alternative web protocols such as Gemini,
                    Gopher and HTTP/HTTPS. </li>
            </ul>
            <h2>## Goals</h2>
            <ul class="point-list">
                <li>Study more on C and C++, build more projects with it. </li>
                <li> Build projects with Free-RTOS. </li>
                <li> Work on open source projects, contribute to them. </li>
            </ul>
        </div>
    </section>
    <section id="projects" class="projects-image">
        <div class="section projects">
            <div class="section">
                <div>
                    <h1 align="center">Projects</h1>
                    {{template "components/gh" .Repositories}}
                </div>
            </div>
        </div>
    </section>
</body>
{{template "components/footer" .Footer}}

</html>
